.text-band {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.text-band h2 {
    margin: 0 0 8px;
    font-weight: 400;
    text-align: center;
}

.text-band h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: #555;
    text-align: center;
}
