.section.breadcrumb-container,
.section:has(.breadcrumb) {
    background-color: var(--color-neutral-50);
    margin-block: 0;
}

.section:has(.product-list-page):has(.breadcrumb),
.section:has(.product-details):has(.breadcrumb),
.section:has(.commerce-cart):has(.breadcrumb) {
    display: flex;
    flex-direction: column;
}

.section > .breadcrumb-wrapper {
    order: -1;
    padding: 20px 15px;
}

.block.breadcrumb .dropin-breadcrumbs__container {
    display: block;
}

.block.breadcrumb .dropin-breadcrumbs__items {
    align-items: center;
    color: var(--color-neutral-700);
    display: flex;
    flex-wrap: wrap;
    font: var(--type-body-2-default-font);
    gap: var(--spacing-xxsmall);
    list-style: none;
    margin: 0;
    padding: 0;
}

.block.breadcrumb .dropin-breadcrumbs__item {
    align-items: center;
    display: inline-flex;
    gap: var(--spacing-xxsmall);
}

.block.breadcrumb .dropin-breadcrumbs__link {
    color: var(--tfs-nav-link);
    text-decoration: none;
}

.block.breadcrumb .dropin-breadcrumbs__link:hover {
    color: var(--color-brand-700);
    text-decoration: underline;
}

.block.breadcrumb .dropin-breadcrumbs__item--last .dropin-breadcrumbs__link,
.block.breadcrumb .dropin-breadcrumbs__item--last span {
    color: var(--tfs-nav-link);
    pointer-events: none;
    text-decoration: none;
}

.block.breadcrumb .dropin-breadcrumbs__separator--default {
    font-size: 0;
}

.block.breadcrumb .dropin-breadcrumbs__separator--default::after {
    background-image: url("../../icons/chevron-right.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 14px;
    height: 14px;
    content: '';
    display: inline-block;
    vertical-align: middle;
}
